<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />
    <title>Ouest-Algerien</title>
    <link rel="stylesheet" href="/styleAffichageV1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="/lightbox.css" rel="stylesheet" />
</head>
<body>
    <section class="GareFerroviaires">
        <nav>
            <div class="back-btn">
                <a href="javascript:history.back();">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <h3>
                <%=place.Nom%>
            </h3>
        </nav>
        <div class="gare-container" id="container">
            <div class="list-container">
                <div id="PontMap" class="map-container"></div>
            </div>
            <div class="gare-item" id="gare-items">
                <div class="bare" id="edificeBare">
                    <span>Edifice</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="edifice-container">
                    <% if ((place?.designation && (place?.designation?.img?.length > 0 || place?.designation?.description?.length > 0))
                     || (place?.localisation && (place?.localisation?.length > 0)) || (place?.description && (place?.description?.img?.length > 0 || place?.description?.description?.length > 0))
                      || (place?.historique && (place?.historique?.img?.length > 0 || place?.historique?.description?.length > 0))
                       || (place?.conservation && (place?.conservation?.justification || place?.conservation?.integrite || place?.conservation?.authenticite))) { %>
                        <% if (place?.designation && (place?.designation?.img?.length > 0 || place?.designation?.description?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Désignation et fonction</h4>
                                <div class="container-item-content">
                                    <% if (place?.designation?.img?.length > 0) { %>
                                        <% place?.designation?.img?.map((img) => { %>
                                            <div class="gallery-item">
                                                <a href="/images/<%= img?.img %>" data-lightbox="mygallery" data-title="<%= img?.description %>">
                                                  <img src="/images/<%= img?.img  %>" alt="<%= img?.img  %>" />
                                                </a>
                                                <h3><%= img?.description %></h3>
                                            </div>  
                                        <% }); %>
                                    <% }%>
                                    <% if (place?.designation?.description && place?.designation?.description?.length > 0) { %>
                                        <div class="container-item-content-description">
                                            <% place?.designation?.description?.map((desc) => { %>
                                                <p><%= desc %></p>
                                            <% }); %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.localisation && (place?.localisation?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Localisation</h4>
                                <div class="container-item-content">
                                    <div class="container-item-content-description">
                                        <% place?.localisation?.map((desc) => { %>
                                            <p><%= desc %></p>
                                        <% }); %>
                                        <h3>Coordonnées géographiques :</h3>
                                        <p>Latitude : <%= place?.LattitudeY %></p>
                                        <p>Longitude : <%= place?.LongitudeX %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.description && (place?.description?.img?.length > 0 || place?.description?.description?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Description</h4>
                                <div class="container-item-content">
                                    <div class="container-item-content-description">
                                        <% place?.description?.description?.map((desc) => { %>
                                            <p><%= desc %></p>
                                        <% }); %>
                                        <% if (place?.description?.img?.length > 0) { %>
                                            <% place?.description?.img?.map((img) => { %>
                                                <div class="gallery-item">
                                                    <a href="/images/<%= img?.img %>" data-lightbox="mygallery" data-title="<%= img?.description %>">
                                                      <img src="/images/<%= img?.img  %>" alt="<%= img?.img  %>" />
                                                    </a>
                                                    <h3><%= img?.description %></h3>
                                                </div>  
                                            <% }); %>
                                        <% }%>
                                        <% if (place?.description?.materiaux && (place?.description?.materiaux?.technique1?.length > 0 || place?.description?.materiaux?.technique2.length > 0 || place?.description?.materiaux?.structures.length > 0)) { %>
                                            <h1>Matériaux :</h1>
                                            <% if (place?.description?.materiaux?.technique1?.length > 0) { %>
                                                <p><strong>Matériaux et techniques du gros-œuvre :</strong></p>
                                                <% place?.description?.materiaux?.technique1?.map((desc) => { %>
                                                    <p><%= desc %></p>
                                                <% }); %>
                                            <% } %>
                                            <% if (place?.description?.materiaux?.technique2?.length > 0) { %>
                                                <p><strong>Matériaux et techniques du gros-œuvre :</strong></p>
                                                <% place?.description?.materiaux?.technique2?.map((desc) => { %>
                                                    <p><%= desc %></p>
                                                <% }); %>
                                            <% } %>
                                            <% if (place?.description?.materiaux?.structures?.length > 0) { %>
                                                <p><strong>Type de structures principales :</strong></p>
                                                <% place?.description?.materiaux?.structures?.map((desc) => { %>
                                                    <p><%= desc %></p>
                                                <% }); %>
                                            <% } %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.historique && (place?.historique?.img?.length > 0 || place?.historique?.description?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Historique</h4>
                                <div class="container-item-content">
                                    <div class="container-item-content-description">
                                        <p><strong>Synthèse historique</strong></p>
                                        <% place?.historique?.description?.map((desc) => { %>
                                            <p><%= desc %></p>
                                        <% }); %>
                                        <% if (place?.historique?.img?.length > 0) { %>
                                            <% place?.historique?.img?.map((img) => { %>
                                                <div class="gallery-item">
                                                    <a href="/images/<%= img?.img %>" data-lightbox="mygallery" data-title="<%= img?.description %>">
                                                      <img src="/images/<%= img?.img  %>" alt="<%= img?.img  %>" />
                                                    </a>
                                                    <h3><%= img?.description %></h3>
                                                </div>                                            <% }); %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.conservation && (place?.conservation?.justification || place?.conservation?.integrite || place?.conservation?.authenticite)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Conservation</h4>
                                <% if (place?.conservation?.justification) { %>
                                    <p><%= place?.conservation?.justification %></p>
                                <% }%>
                                <div class="container-item-content">
                                    <% if (place?.conservation?.integrite || place?.conservation?.authenticite) { %>
                c:\Users\Admin\Pictures\ViaducOuedAinTallout_P1.jpg c:\Users\Admin\Pictures\ViaducOuedAinTallout_P2.jpg                        <div class="container-item-content-description">
                                            <p><strong>Intégrité :</strong> <%= place?.conservation?.integrite %></p>
                                            <p><strong>Authenticité :</strong> <%= place?.conservation?.authenticite %></p>
                                        </div>
                                    <% }%>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="container-item">
                            <p>no description is available</p>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="gare-item" id="gare-items">
                <div class="bare" id="acteurBare">
                    <span>Acteur</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="acteur-container">
                    <div class="container-item">
                        <% if (place?.acteurs && ((place?.acteurs?.ancienne?.compagnie?.length > 0 || place?.acteurs?.ancienne?.entreprise?.length > 0 
                            || place?.acteurs?.ancienne?.architecte?.length > 0 || place?.acteurs?.ancienne?.ingenieurs?.length > 0)
                            || (place?.acteurs?.modification?.compagnie?.length > 0 || place?.acteurs?.modification?.entreprise?.length > 0 
                            || place?.acteurs?.modification?.architecte?.length > 0 || place?.acteurs?.modification?.ingenieurs?.length > 0)
                            || (place?.acteurs?.modernisation?.compagnie?.length > 0 || place?.acteurs?.modernisation?.entreprise?.length > 0 
                            || place?.acteurs?.modernisation?.architecte?.length > 0 || place?.acteurs?.modernisation?.ingenieurs?.length > 0)
                            )){ %>
                            <% if (place?.acteurs?.ancienne?.compagnie?.length > 0 || place?.acteurs?.ancienne?.entreprise?.length > 0 
                            || place?.acteurs?.ancienne?.architecte?.length > 0 || place?.acteurs?.ancienne?.ingenieurs?.length > 0){ %>
                                <h2 class="acteur-title">Ancienne :</h2>
                                <% if (place?.acteurs?.ancienne?.compagnie?.length > 0) { %>
                                    <p class="acteur-subtitle">Compagnie :</p>
                                    <% place?.acteurs?.ancienne?.compagnie?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.ancienne?.entreprise?.length > 0) { %>
                                    <p class="acteur-subtitle">Entreprise :</p>
                                    <% place?.acteurs?.ancienne?.entreprise?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.ancienne?.architecte?.length > 0) { %>
                                    <p class="acteur-subtitle">Architecte :</p>
                                    <% place?.acteurs?.ancienne?.architecte?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.ancienne?.ingenieurs?.length > 0) { %>
                                    <p class="acteur-subtitle">Ingénieurs :</p>
                                    <% place?.acteurs?.ancienne?.ingenieurs?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                            <% } %>
    
                            <% if (place?.acteurs?.modification?.compagnie?.length > 0 || place?.acteurs?.modification?.entreprise?.length > 0 
                            || place?.acteurs?.modification?.architecte?.length > 0 || place?.acteurs?.modification?.ingenieurs?.length > 0){ %>
                                <h2 class="acteur-title">Modification :</h2>
                                <% if (place?.acteurs?.modification?.compagnie?.length > 0) { %>
                                    <p class="acteur-subtitle">Compagnie :</p>
                                    <% place?.acteurs?.modification?.compagnie?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modification?.entreprise?.length > 0) { %>
                                    <p class="acteur-subtitle">Entreprise :</p>
                                    <% place?.acteurs?.modification?.entreprise?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modification?.architecte?.length > 0) { %>
                                    <p class="acteur-subtitle">Architecte :</p>
                                    <% place?.acteurs?.modification?.architecte?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modification?.ingenieurs?.length > 0) { %>
                                    <p class="acteur-subtitle">Ingénieurs :</p>
                                    <% place?.acteurs?.modification?.ingenieurs?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                            <% } %>
    
                            <% if (place?.acteurs?.modernisation?.compagnie?.length > 0 || place?.acteurs?.modernisation?.entreprise?.length > 0 
                            || place?.acteurs?.modernisation?.architecte?.length > 0 || place?.acteurs?.modernisation?.ingenieurs?.length > 0){ %>
                                <% if (
                                    (place?.acteurs?.ancienne?.compagnie?.length > 0 || place?.acteurs?.ancienne?.entreprise?.length > 0 
                                        || place?.acteurs?.ancienne?.architecte?.length > 0 || place?.acteurs?.ancienne?.ingenieurs?.length > 0) || 
                                    (place?.acteurs?.modification?.compagnie?.length > 0 || place?.acteurs?.modification?.entreprise?.length > 0 
                                        || place?.acteurs?.modification?.architecte?.length > 0 || place?.acteurs?.modification?.ingenieurs?.length > 0)
                                ){ %>
                                    <h2 class="acteur-title">Modernisation :</h2>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.compagnie?.length > 0) { %>
                                    <p class="acteur-subtitle">Compagnie :</p>
                                    <% place?.acteurs?.modernisation?.compagnie?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.entreprise?.length > 0) { %>
                                    <p class="acteur-subtitle">Entreprise :</p>
                                    <% place?.acteurs?.modernisation?.entreprise?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.architecte?.length > 0) { %>
                                    <p class="acteur-subtitle">Architecte :</p>
                                    <% place?.acteurs?.modernisation?.architecte?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.ingenieurs?.length > 0) { %>
                                    <p class="acteur-subtitle">Ingénieurs :</p>
                                    <% place?.acteurs?.modernisation?.ingenieurs?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            no acteur is available
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="gare-item" id="gare-items">
                <div class="bare" id="galerieBare">
                    <span>Galerie</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="galerie-container">
                    <div class="container-item">
                        <% if (place?.galerie && (place?.galerie?.plan?.length > 0 || place?.galerie?.photographie?.length > 0)){ %>
                            <% if (place?.galerie?.plan?.length > 0){ %>
                                <h4 class="container-item-title">Plans</h4>
                                <div class="container">
                                    <div class="gallery">
                                        <% place?.galerie?.plan?.map((img) => { %>
                                          <div class="gallery-item">
                                            <a href="/images/<%= img?.img %>" data-lightbox="mygallery" data-title="<%= img?.description %>">
                                              <img src="/images/<%= img?.img  %>" alt="<%= img?.img  %>" />
                                            </a>
                                            <h3><%= img?.description %></h3>
                                          </div>
                                        <% }); %>
                                      </div>
                                </div>
                            <% }
                            if (place?.galerie?.photographie?.length > 0){ %>
                                <h4 class="container-item-title">Photographies</h4>
                                <div class="container">
                                    <div class="gallery">
                                        <% place?.galerie?.photographie?.map((img) => { %>
                                            <div class="gallery-item">
                                                <a href="/images/<%= img?.img %>" data-lightbox="mygallery" data-title="<%= img?.description %>">
                                                  <img src="/images/<%= img?.img  %>" alt="<%= img?.img  %>" />
                                                </a>
                                                <h3><%= img?.description %></h3>
                                              </div>
                                        <% }); %>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            no image is available
                        <% } %>
                    </div>
                </div>
            </div>
            
            <div class="gare-item" id="gare-items">
                <div class="bare" id="documentationBare">
                    <span>Documentation</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="documentation-container">
                    <div class="container-item">
                        <% if (place?.documentations && (place?.documentations?.centrearchive?.length > 0 || place?.documentations?.site?.length > 0 || place?.documentations?.livre?.length  > 0)){ %>
                            <% if (place?.documentations?.centrearchive?.length > 0) { %>
                                <p class="acteur-subtitle">Centre d’archive</p>
                                <% place?.documentations?.centrearchive?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                            <% if (place?.documentations?.site?.length > 0) { %>
                                <p class="acteur-subtitle">Site internet</p>
                                <% place?.documentations?.site?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                            <% if (place?.documentations?.livre?.length > 0) { %>
                                <p class="acteur-subtitle">Livre</p>
                                <% place?.documentations?.livre?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                            <% if (place?.documentations?.article?.length > 0) { %>
                                <p class="acteur-subtitle">Article</p>
                                <% place?.documentations?.article?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                        <% } else { %>
                            no document is available
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/wicg-inert@latest/dist/inert.min.js"></script>
    <script src="/mainHome.js"></script>
    <script src="/styleAffichageV1.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/lightbox.js"></script>
    <script>
        lightbox.option({
          resizeDuration: 200,
          wrapAround: false,
          alwaysShowNavOnTouchDevices: false,
          disableScrolling: true,
        });
        document.addEventListener("DOMContentLoaded", function () {
            const apiKey = 'pk.eyJ1Ijoienlub2NvZGVzIiwiYSI6ImNsZnl1Y2w3bzA4YjkzbW10aXFvYTJoYm8ifQ.wqP0wnxpZIjsUSlMXfGqJQ';
            const placeData = <%- JSON.stringify(place) %>;

            const PontMap = L.map('PontMap').setView([placeData?.LattitudeY, placeData?.LongitudeX], 15);
            
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: apiKey
            }).addTo(PontMap);
            
            // Create polyline
            var lineCoordinates = [
                [35.69873978861225,-0.638246122889966],
                [35.620785751059096,-0.587130866775292],
                [35.571189937514404,-0.542709265572674],
                [35.54640802694567,-0.451877913450755],
                [35.51251325759334,-0.409461181912292],
                [35.46468716752258,-0.394971002004698],
                [35.36335514696351,-0.509810282506524],
                [35.30571864597986,-0.548126089601797],
                [35.2614948947815,-0.568341666776229],
                [35.19818878238979,-0.638986240747964],
                [35.164151645081716,-0.687870932839916],
                [35.11254620982446,-0.714891602615403],
                [35.05908450831036,-0.724831277543694],
                [35.02105796173658,-0.74320176925427],
                [34.96313968410208,-0.859732376506406],
                [34.933297455112964,-0.914493494491647],
                [34.929732683452066,-0.956618569601194],
                [34.9025044549154,-1.026417210924172],
                [34.86911516043487,-1.131273656413615],
                [34.87694183471008,-1.241009846869554],
                [34.8838884782675,-1.29996700832521],
                [34.87226781556607,-1.342611666673615],
                [34.853547776791025,-1.405527702450567],
                [34.85156117106218,-1.438351977120567],
                [34.82672874650801,-1.522472239359875],
                [34.77424460929712,-1.63696947207084],
                [34.78806731630351,-1.673740095519786],
                [34.843525731781575,-1.725710056911823],
                [34.787887688424256,-1.80241009315232],
                [34.68234233656023,-1.92172169537964],
            ];
            var polyline = L.polyline(lineCoordinates, { color: 'black', weight: 5 });
            polyline.addTo(PontMap);    
            var nouvelleLigneCoordinates = [
                [35.54617, -0.45092],
                [35.5176, -0.3942],
                [35.465, -0.3854],
                [35.4367, -0.4098],
                [35.36235, -0.50765],
                [35.3123, -0.5545],
                [35.2789, -0.5850],
                [35.217, -0.6563],
                [35.1208, -0.7235],
                [35.0852, -0.7588],
                [35.0598, -0.7922],
                [35.0107, -0.8867],
                [34.9937, -0.9426],
                [34.9937, -0.9426],
                [34.9763, -0.9816],
                [34.9731, -1.0476],
                [35.0061, -1.1616],
                [35.0061, -1.1966],
                [34.9451, -1.1966],
                [34.8878, -1.2677],
                [34.8828, -1.3025], // INTERSECTION GARE DE TLEMCEN
                [34.8713, -1.3823],
                [34.9, -1.38],
                [34.858, -1.468],
                [34.82705, -1.51568],
                [34.81467, -1.530813],
                [34.7984, -1.57626],
                [34.79335, -1.58606],
                [34.7723, -1.6209], // INTERSECTION
                [34.7707, -1.6424], // INTERSECTION
                [34.7727, -1.6489], // INTERSECTION
                [34.7802, -1.6625], // INTERSECTION
                [34.7865, -1.6726],
                [34.8018, -1.698],
                [34.8347, -1.7128],
                [34.84292, -1.72818],
                [34.8198, -1.763],
                [34.79943, -1.79242],
                [34.7891, -1.80262],
                [34.78502, -1.80768]
            ];
            var Newpolyline = L.polyline(nouvelleLigneCoordinates, { color: 'red', weight: 5 });
            Newpolyline.addTo(PontMap); 
            //colors
            const PrimaryColor = 'gold'
            const FillColor = 'rgba(255, 230, 0, 0.765)'
            //icons
            var Icon = L.icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
                iconSize: [15, 25],
                iconAnchor:   [7, 24],
            });
            // function to add markers to the map
            function addMarkersToMap(JSONData, Icon) {
                const lat = JSONData.LattitudeY;
                const lon = JSONData.LongitudeX;
        
                // Add a marker to show the location.
                const Place = L.marker([lat, lon], { icon: Icon }).addTo(PontMap);
                const circle = L.circle([lat, lon], {
                    color: PrimaryColor,
                    fillColor: FillColor,
                    fillOpacity: 0.2,
                    radius: 50
                }).addTo(PontMap);
        
                // Add popup message
                const id = JSONData._id.$oid;
                const template = `
                <div style="text-align:center">
                    <div class="map-LocationDisplayer">
                        <h1>${JSONData.Nom}</h1>
                        <div class="Location">
                        <h2>Location:</h2>
                        <h3>${lat + ', ' + lon}</h3>
                        </div>
                    </div>
                </div>
                `;
                Place.bindPopup(template);
            }
            function Markers(){
                addMarkersToMap(placeData, Icon)
            }
            Markers();
        });
    </script>
</body>
</html>
