<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />
    <title>Ouest-Algerien</title>
    <link rel="stylesheet" href="/styleAffichageV1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <section class="GareFerroviaires">
        <nav>
            <div class="back-btn">
                <a href="javascript:history.back();">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
            </div>
            <h3>
                <%=place.Nom%>
            </h3>
        </nav>
        <div class="gare-container" id="container">
            <div class="gare-item" id="gare-items">
                <div class="bare" id="listeBare">
                    <span>Liste</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="liste-container">
                    <div class="list-container">
                        <div id="map" class="map-container"></div>
                        <div class="info-container">
                            <div class="line2-col2-line1">
                                <img src="https://lesplusbeauxdrapeauxdumonde.files.wordpress.com/2016/11/algeria-1219746_1280.jpg?w=692&amp;h=390">
                                <span>Algerie</span>
                            </div>
                            <span>Ancien_Nom: <p>oran</p></span>
                            <span>CodeWilay : <p>31</p></span>
                            <span>CodeCommu : <p>31</p></span>
                            <span>PositionKm: <p>245353653km</p></span>
                            <span>LigneFerro: <p>5378633</p></span>
                            <span>StyleArchi: <p>37883783</p></span>
                            <span>Ancien_Nom: <p>oran</p></span>
                            <span>CodeWilay : <p>31</p></span>
                            <span>CodeCommu : <p>31</p></span>
                            <span>PositionKm: <p>245353653km</p></span>
                            <span>LigneFerro: <p>5378633</p></span>
                            <span>StyleArchi: <p>37883783</p></span>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="gare-item" id="gare-items">
                <div class="bare" id="edificeBare">
                    <span>Edifice</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="edifice-container">
                    <% if ((place?.designation && (place?.designation.img || place?.designation?.description?.length > 0))
                     || (place?.localisation && (place?.localisation?.length > 0)) || (place?.description && (place?.description.img || place?.description?.description?.length > 0))
                      || (place?.historique && (place?.historique?.img || place?.historique?.description?.length > 0))
                       || (place?.conservation && (place?.conservation?.justification || place?.conservation?.integrite || place?.conservation?.authenticite))) { %>
                        <% if (place?.designation && (place?.designation.img || place?.designation?.description?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Désignation et fonction</h4>
                                <div class="container-item-content">
                                    <% if (place?.designation?.img) { %>
                                        <img src="/images/<%= place?.designation.img %>" alt="img" />
                                    <% }%>
                                    <% if (place?.designation?.description && place?.designation?.description?.length > 0) { %>
                                        <div class="container-item-content-description">
                                            <% place?.designation?.description?.map((desc) => { %>
                                                <p><%= desc %></p>
                                            <% }); %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.localisation && (place?.localisation?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Localisation</h4>
                                <div class="container-item-content">
                                    <div class="container-item-content-description">
                                        <% place?.localisation?.map((desc) => { %>
                                            <p><%= desc %></p>
                                        <% }); %>
                                        <h3>Coordonnées géographiques :</h3>
                                        <p>Latitude : <%= place?.LattitudeY %></p>
                                        <p>Longitude : <%= place?.LongitudeX %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.description && (place?.description.img || place?.description?.description?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Description</h4>
                                <div class="container-item-content">
                                    <div class="container-item-content-description">
                                        <% place?.description?.description?.map((desc) => { %>
                                            <p><%= desc %></p>
                                        <% }); %>
                                        <% if (place?.description?.img) { %>
                                            <img src="/images/<%= place?.designation.img %>" alt="img" />
                                        <% }%>
                                        <% if (place?.description?.materiaux && (place?.description?.materiaux?.technique1?.length > 0 || place?.description?.materiaux?.technique2.length > 0 || place?.description?.materiaux?.structures.length > 0)) { %>
                                            <h1>Matériaux :</h1>
                                            <% if (place?.description?.materiaux?.technique1?.length > 0) { %>
                                                <p><strong>Matériaux et techniques du gros-œuvre :</strong></p>
                                                <% place?.description?.materiaux?.technique1?.map((desc) => { %>
                                                    <p><%= desc %></p>
                                                <% }); %>
                                            <% } %>
                                            <% if (place?.description?.materiaux?.technique2?.length > 0) { %>
                                                <p><strong>Matériaux et techniques du gros-œuvre :</strong></p>
                                                <% place?.description?.materiaux?.technique2?.map((desc) => { %>
                                                    <p><%= desc %></p>
                                                <% }); %>
                                            <% } %>
                                            <% if (place?.description?.materiaux?.structures?.length > 0) { %>
                                                <p><strong>Type de structures principales :</strong></p>
                                                <% place?.description?.materiaux?.structures?.map((desc) => { %>
                                                    <p><%= desc %></p>
                                                <% }); %>
                                            <% } %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.historique && (place?.historique?.img || place?.historique?.description?.length > 0)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Historique</h4>
                                <div class="container-item-content">
                                    <div class="container-item-content-description">
                                        <p><strong>Synthèse historique</strong></p>
                                        <% place?.historique?.description?.map((desc) => { %>
                                            <p><%= desc %></p>
                                        <% }); %>
                                        <% if (place?.historique?.img) { %>
                                            <img src="/images/<%= place?.historique.img %>" alt="img" />
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if (place?.conservation && (place?.conservation?.justification || place?.conservation?.integrite || place?.conservation?.authenticite)) { %>
                            <div class="container-item">
                                <h4 class="container-item-title">Conservation</h4>
                                <p>La gare de Sidi-Bel-Abbès est en bon état de conservation</p>
                                <div class="container-item-content">
                                    <% if (place?.conservation?.justification) { %>
                                        <div class="container-item-content-description">
                                            <p><strong>Justification de la valeur culturelle</strong></p>
                                            <p><%= place?.conservation?.justification %></p>
                                        </div>
                                    <% }%>
                                    <% if (place?.conservation?.integrite || place?.conservation?.authenticite) { %>
                                        <div class="container-item-content-description">
                                            <p><strong>Intégrité et authenticité</strong></p>
                                            <p><strong>Intégrité :</strong> <%= place?.conservation?.integrite %></p>
                                            <p><strong>Authenticité :</strong> <%= place?.conservation?.authenticite %></p>
                                        </div>
                                    <% }%>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="container-item">
                            <p>no description is available</p>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="gare-item" id="gare-items">
                <div class="bare" id="acteurBare">
                    <span>Acteur</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="acteur-container">
                    <div class="container-item">
                        <% if (place?.acteurs && ((place?.acteurs?.ancienne?.compagnie?.length > 0 || place?.acteurs?.ancienne?.entreprise?.length > 0 
                            || place?.acteurs?.ancienne?.architecte?.length > 0 || place?.acteurs?.ancienne?.ingenieurs?.length > 0)
                            || (place?.acteurs?.modification?.compagnie?.length > 0 || place?.acteurs?.modification?.entreprise?.length > 0 
                            || place?.acteurs?.modification?.architecte?.length > 0 || place?.acteurs?.modification?.ingenieurs?.length > 0)
                            || (place?.acteurs?.modernisation?.compagnie?.length > 0 || place?.acteurs?.modernisation?.entreprise?.length > 0 
                            || place?.acteurs?.modernisation?.architecte?.length > 0 || place?.acteurs?.modernisation?.ingenieurs?.length > 0)
                            )){ %>
                            <% if (place?.acteurs?.ancienne?.compagnie?.length > 0 || place?.acteurs?.ancienne?.entreprise?.length > 0 
                            || place?.acteurs?.ancienne?.architecte?.length > 0 || place?.acteurs?.ancienne?.ingenieurs?.length > 0){ %>
                                <h2 class="acteur-title">Ancienne :</h2>
                                <% if (place?.acteurs?.ancienne?.compagnie?.length > 0) { %>
                                    <p class="acteur-subtitle">Compagnie :</p>
                                    <% place?.acteurs?.ancienne?.compagnie?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.ancienne?.entreprise?.length > 0) { %>
                                    <p class="acteur-subtitle">Entreprise :</p>
                                    <% place?.acteurs?.ancienne?.entreprise?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.ancienne?.architecte?.length > 0) { %>
                                    <p class="acteur-subtitle">Architecte :</p>
                                    <% place?.acteurs?.ancienne?.architecte?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.ancienne?.ingenieurs?.length > 0) { %>
                                    <p class="acteur-subtitle">Ingénieurs :</p>
                                    <% place?.acteurs?.ancienne?.ingenieurs?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                            <% } %>
    
                            <% if (place?.acteurs?.modification?.compagnie?.length > 0 || place?.acteurs?.modification?.entreprise?.length > 0 
                            || place?.acteurs?.modification?.architecte?.length > 0 || place?.acteurs?.modification?.ingenieurs?.length > 0){ %>
                                <h2 class="acteur-title">Modification :</h2>
                                <% if (place?.acteurs?.modification?.compagnie?.length > 0) { %>
                                    <p class="acteur-subtitle">Compagnie :</p>
                                    <% place?.acteurs?.modification?.compagnie?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modification?.entreprise?.length > 0) { %>
                                    <p class="acteur-subtitle">Entreprise :</p>
                                    <% place?.acteurs?.modification?.entreprise?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modification?.architecte?.length > 0) { %>
                                    <p class="acteur-subtitle">Architecte :</p>
                                    <% place?.acteurs?.modification?.architecte?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modification?.ingenieurs?.length > 0) { %>
                                    <p class="acteur-subtitle">Ingénieurs :</p>
                                    <% place?.acteurs?.modification?.ingenieurs?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                            <% } %>
    
                            <% if (place?.acteurs?.modernisation?.compagnie?.length > 0 || place?.acteurs?.modernisation?.entreprise?.length > 0 
                            || place?.acteurs?.modernisation?.architecte?.length > 0 || place?.acteurs?.modernisation?.ingenieurs?.length > 0){ %>
                                <h2 class="acteur-title">Modernisation :</h2>
                                <% if (place?.acteurs?.modernisation?.compagnie?.length > 0) { %>
                                    <p class="acteur-subtitle">Compagnie :</p>
                                    <% place?.acteurs?.modernisation?.compagnie?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.entreprise?.length > 0) { %>
                                    <p class="acteur-subtitle">Entreprise :</p>
                                    <% place?.acteurs?.modernisation?.entreprise?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.architecte?.length > 0) { %>
                                    <p class="acteur-subtitle">Architecte :</p>
                                    <% place?.acteurs?.modernisation?.architecte?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                                <% if (place?.acteurs?.modernisation?.ingenieurs?.length > 0) { %>
                                    <p class="acteur-subtitle">Ingénieurs :</p>
                                    <% place?.acteurs?.modernisation?.ingenieurs?.map((comp) => { %>
                                        <p class="acteur-paragraph"><%= comp %></p>
                                    <% }); %>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            no acteur is available
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="gare-item" id="gare-items">
                <div class="bare" id="galerieBare">
                    <span>Galerie</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="galerie-container">
                    <div class="container-item">
                        <% if (place?.galerie && (place?.galerie?.plan?.length > 0 || place?.galerie?.photographie?.length > 0)){ %>
                            <% if (place?.galerie?.plan?.length > 0){ %>
                                <h4 class="container-item-title">Plans</h4>
                                <div class="container">
                                    <div class="gallery">
                                        <% place?.galerie?.plan?.map((img) => { %>
                                            <div class="gallery-item">
                                                <img src="/images/<%= img %>" alt="<%= img %>" />
                                                <h3><%= img %></h3>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            <% }
                            if (place?.galerie?.photographie?.length > 0){ %>
                                <h4 class="container-item-title">Photographies</h4>
                                <div class="container">
                                    <div class="gallery">
                                        <% place?.galerie?.photographie?.map((img) => { %>
                                            <div class="gallery-item">
                                                <img src="/images/<%= img %>" alt="<%= img %>" />
                                                <h3><%= img %></h3>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            no image is available
                        <% } %>
                    </div>
                </div>

            <div class="gare-item" id="gare-items">
                <div class="bare" id="documentationBare">
                    <span>Documentation</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="item-container" id="documentation-container">
                    <div class="container-item">
                        <% if (place?.documentations && (place?.documentations?.centrearchive?.length > 0 || place?.documentations?.site?.length > 0 || place?.documentations?.livre?.length  > 0)){ %>
                            <% if (place?.documentations?.centrearchive?.length > 0) { %>
                                <p class="acteur-subtitle">Centre d’archive</p>
                                <% place?.documentations?.centrearchive?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                            <% if (place?.documentations?.site?.length > 0) { %>
                                <p class="acteur-subtitle">Site internet</p>
                                <% place?.documentations?.site?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                            <% if (place?.documentations?.livre?.length > 0) { %>
                                <p class="acteur-subtitle">Livre</p>
                                <% place?.documentations?.livre?.map((desc) => { %>
                                    <p class="acteur-paragraph"><%= desc %></p>
                                <% }); %>
                            <% }%>
                        <% } else { %>
                            no document is available
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/wicg-inert@latest/dist/inert.min.js"></script>
    <script src="/Adminmain.js"></script>
    <script src="/styleAffichageV1.js"></script>
</body>
</html>
